@import "tailwindcss";

/* Theme variables (used by layout body) */
:root {
  --bg: 248 250 252; /* slate-50 */
  --fg: 15 23 42; /* slate-900 */
}

.dark {
  --bg: 2 6 23; /* slate-950 */
  --fg: 248 250 252; /* slate-50 */
}

html,
body {
  height: 100%;
}
